<div class="row">
	<input type="text" [(ngModel)]="searchTerm" (input)="searchBooks()" placeholder="Keresés...">
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Termék címe</th>
      <th scope="col">Kölcsönző neve</th>
      <th scope="col">Kikölcsönzés napja</th>
      <th scope="col">Számított késés</th>
      <th scope="col">Értesítés</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of overdueBooks">
      <th scope="row">{{ book.id | number }}</th>
      <td>{{book.title}}</td>
      <td>{{ book.borrower.name }}</td>
      <td>{{ book.borrowDate }}</td>
      <td>{{ book.delay }} nap</td>
      <td><button class="btn btn-sm btn-outline-danger" (click)="sendEmail()">Email küldése</button></td>
    </tr>
  </tbody>
</table>